html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  src: url("./webfonts/SourceSansPro-It.ttf");
  font-weight: 300;
  line-height: 1.65;
}

p {
  margin: 0 0 2em 0;
}

.flex-container {
  display: flex;
}

.wrapper {
  width: 74em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.header {
  display: block;
  padding: 6em 4em 3em 4em;
  text-align: center;
  color: #ffffff;
}

.header .logo {
  display: block;
  margin: 0 0 1.5em 0;
  transition: opacity 1.25s ease, transform 0.5s ease;
}

.header h1 {
  font-size: 3em;
  transition-delay: 0.5s;
  margin: 0 0 0.25em 0;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -0.025em;
}

.header p {
  transition-delay: 0.5s;
  font-size: 1.25em;
  letter-spacing: -0.025em;
  font-family: inherit;
  font-weight: 300;
  opacity: 0.75;
}

.header br {
  display: block !important;
  content: "";
  margin: 0.5em;
}

.header p a {
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}

.nav {
  display: block;
  color: #636363;
  position: absolute;
  width: 72em;
  max-width: inherit;
  padding: 1em;
  background-color: rgba(222, 222, 222, 0.25);
  cursor: default;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}

.nav .alt {
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  background-color: rgba(247, 247, 247, 0.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10000;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav ul li {
  transition: margin 0.2s ease;
  display: inline-block;
  margin: 0 0.35em;
  padding: 0;
  vertical-align: middle;
}

.nav ul li a {
  transition: font-size 0.2s ease;
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
}

.nav ul li a.active {
  background-color: #ffffff;
  box-shadow: none;
}

.nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

.nav a:hover {
  color: #636363;
}

.nav + .main {
  padding-top: 4.25em;
}

/** Main Page **/
.main {
  display: block;
  background-color: #f7f7f7;
  color: #636363;
  border-radius: 0.25em;
  font-weight: 300;
  line-height: 1.65;
}

.main section {
  display: block;
  padding: 4em 4em 2em 4em;
}

.main .intro .startup-story {
  align-items: center;
  margin: 0 0 2em 0;
}

.main .intro .startup-story .content {
  flex: 1;
}

.major {
  margin: 0 0 2em 0;
}

.major h2 {
  color: #636363;
  font-size: 2em;
  font-weight: 300;
}

.major h2::after {
  background-image: linear-gradient(90deg, #8cc9f0, #a89cc8, #efa8b0);
  display: block;
  content: "";
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

/** Introduction Section **/
.main > .main:first-child {
  border-top: 0;
}

.main .intro .startup-story .image {
  border-color: #dddddd;
  display: inline-block;
  position: relative;
  margin-left: 4em;
  padding: 0.65em;
}

.main .intro .startup-story img {
  display: block;
  border-radius: 4%;
  width: 25em;
}

/** Growth Statistics section **/
.main .statistics {
  border-top: solid 1px #dddddd;
}

.main .statistics .major {
  text-align: center;
}

.main .statistics .major h2::after {
  margin-left: auto;
  margin-right: auto;
}

/** Trending Videos **/
.main .trending {
  margin-top: 1em;
  border-top: solid 1px #dddddd;
}
.main .trending .major {
  text-align: center;
}

.main .trending .major h2::after {
  margin-left: auto;
  margin-right: auto;
}

.main .trending ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.main .trending ul li {
  display: inline-block;
  width: 33%;
}

/** Footer Section **/
.footer {
  padding: 4em 4em 2em 4em;
  flex-wrap: wrap;
  width: calc(100% + 2em);
  margin: 0 0 3em -2em;
}

/**Stats charts**/
text.highcharts-credits {
  display: none;
}

div.stats-charts-container {
  display: flex;
}

section.chart-instance {
  width: 100%;
  padding: 0;
}
